//- .modal
//-   img.modal__poster(src=movie.posterPath, alt="Movie")
//-   h2.modal__title
//-     span.name=movie.title
//-     span.year=movie.date.slice(0, 4)
//-   .modal__facts
//-     span.full-year=movie.date
//-     span.run-time=movie.runtime
//-   .modal__buttons
//-     .add-to-favourites.modal__btn
//-     .add-to-watchlist.modal__btn
//-     .see-at-imdb.modal__btn
//-     .see-at-favuorites.modal__btn
//-   .modal__main-info
//-     h3.tagline=movie.tagline
//-     h3 Overview
//-     p.overview=movie=overview 
     