extends base
block content
  .form-container
    .form-wrapper
      h1 Login
      form.form.form--login(autocomplete="off")  
        input.form__input#email(type="email" placeholder="example@xyz.com")     
        input.form__input#password(type="password" placeholder="Your password") 
        button.form__btn Login             
          